@{
    ViewData["Title"] = "Index";
}

<h2>Hello!</h2>
<p>I'm Reily Maahs</p>
<p>Third year student in the CET-CS program</p>
<p>Currently a web developer for a Federal Canadian Department, creating interal software</p>
<br> 
<h2>Feedback</h2>
<p>I would've liked more resources / guidance on EF relationships between 1-M relationships.</p>